/* ---------- FONTS ------------ */


/*----------- ESTRUCTURA ------------*/

body {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
}

#c1 {
	border-style: dotted;
	border-width: 3px;
	padding: 1%;
}

#c2 {
	border-style: dotted;
	border-width: 3px;
	padding: 1%;
}

#c3 {
	border-style: dotted;
	border-width: 3px;
	padding: 1%;
}
#punt h2{
	float: right;
	border-style: dotted;
	border-width: 3px;
	padding: 1%;
}

#music img{
	float: right;
	border-style: dotted;
	border-width: 3px;
	padding: 10px;
}

#preg {
	top: 50px;
	border-style: dotted;
	border-width: 3px;
	padding: 10px;
}

#preg h1{
	text-align: center;
}

#r1 {
	top: 100px;
	border-right: hidden;
	border-style: dotted;
	border-width: 3px;
	padding: 10px;
}

#r2 {
	top: 100px;
	border-left: hidden;
	border-style: dotted;
	border-width: 3px;
	padding: 10px;
}

#r3 {
	top: 100px;
	border-style: dotted;
	border-width: 3px;
	padding: 10px;
}

#r4 {
	top: 100px;
	border-style: dotted;
	border-width: 3px;
	padding: 10px;
}

#time {
	top: 70px;
	border-style: dotted;
	border-width: 3px;
	padding: 10px;
}

#time h2{
	text-align: center;
}

h3{
	text-align: center;
}